<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb2 primary">Gegenwind Steinhilben</h3>
				<ul class="mhn2">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/infromation" class="link">Windpark? Nein Danke!</a></li>
					<li><a href="/visualize" class="link">Visualisierungen</a></li>
					<li><a href="/post" class="link">Aktuelles</a></li>
					<li><a href="/contact" class="link">Impressum</a></li>
				</ul>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
