{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">
		<h4 class="f4 b lh-title mb2 primary">Angaben gemäß § 5 TMG:</h4>
		Bürgerinitiative<br>
		Gegenwind Steinhilben<br><br>
		Pia Herkewitz<br>
					Fliederstraße 10<br>
					72818 Steinhilben
					<br><br>
				Diana Baumeister<br>
					Albstr. 6<br>
					72818 Steinhiben<br>
		<h4 class="f4 b lh-title mb2 primary">Kontakt</h4>
		info@gegenwind-steinhilben.de
		<br><br><br>
		<h4 class="f4 b lh-title mb2 primary">Haftungsausschluss (Disclaimer)</h4>
		{{ .Content }}
	</div>
</div>

{{ end }}
