{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">
		<h3>Angaben gemäß § 5 TMG:</h3><br>
		Bürgerinitiative<br>
		Gegenwind Steinhilben
		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>
		<h3>Kontakt</h3><br>
		info@gegenwind-steinhilben.de
		
		{{ .Content }}
	</div>
</div>

{{ end }}
